<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Maverick Edifice - Our Products</title>
    <meta name="Company name" content="Maverick Edifice">
    <meta name="author" content="Developer Majesty">

    <!-- description -->
    <meta name="description" content="Maverick Edifice Official Website">
    <!-- keywords -->
    <meta name="keywords"
        content="Business , Maverick Edifice, Maverick, Technology, Information Technology, IT, Software Development">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="img/favi.png" />
    <!-- Aminate CSS -->
    <link rel="stylesheet" href="css/animate.css" />
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Owl Carousel stylesheet -->
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <!-- Lightbox CSS -->
    <link rel="stylesheet" href="css/lightbox.css" />
    <!-- Skin Green Css -->
    <link rel="stylesheet" href="css/skin-gray.css" />
    <!-- Header CSS -->
    <link rel="stylesheet" href="css/header.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- IZITOAST Libraries -->
    <link rel="stylesheet" href="css/izitoast/css/iziToast.min.css">
    <!-- jquery js-->
    <script src="js/jquery.min.js"></script>
    <!-- REVOLUTION CSS -->
    <link rel="stylesheet" href="css/settings.css" />
    <!-- REVOLUTION JS FILES -->
    <script src="js/revolution/jquery.themepunch.tools.min.js"></script>
    <script src="js/revolution/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="js/revolution/revolution.extension.actions.min.js"></script>
    <script src="js/revolution/revolution.extension.layeranimation.min.js"></script>
    <script src="js/revolution/revolution.extension.parallax.min.js"></script>
    <script src="js/revolution/revolution.extension.slideanims.min.js"></script>
</head>

<body>
    <div class="wraper">
        <!-- ====== Header Starts ====== -->
        <header class="header">
            <div class="container">

                <nav class="navbar navbar-expand-lg">

                    <!-- Brand -->
                    <h2 class="nav-brand">
                        <a class="navbar-brand" href="/" title="Maverick Edifice"><img width="200px" src="img/logo.png"
                                alt="Maverick Edifice" /></a>
                    </h2>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
                        aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Links -->
                    <div class="main-menu collapse navbar-collapse" id="nav-content">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Resources</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a href="/blog" title="Blog">Blog</a></li>
                                    <li class="dropdown-item"><a href="/podcast" title="Podcast">Podcast</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/contact-us">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </header>
        <!-- ====== Header End ====== -->

        <!-- ====== Banner Start ====== -->
        <section id="inner-banner">
            <div class="container">
                <div class="row">
                    <div class="inner-heading">
                        <h2>Our Products</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Our Products</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- ====== Banner End ====== -->



        <!-- ====== About Details Start ====== -->
        <section id="about-detail">
            <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mid-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-area"> <img src="img/maverick_tailor.jpg"
                                alt="Maverick Tailor" /> </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-area">
                            <div class="section_heading">
                                <div class="number">01</div>
                                <h4>Maverick <span>Tailor</span></h4>
                                <div class="separator left-align ">
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="description">
                                <p>The Ghanaian fashion industry has evolved significantly in recent years. Despite
                                    great strides attained, habitual delayed pickups, mixup of client orders and fabric,
                                    coupled with the absence of an organised and secure operational data management on
                                    the part of the fashion designer, have been recurrent themes plaguing this industry.
                                    Surprisingly, in this digital transformation age, there is no market leader
                                    providing productivity tools for our fashion designers. We therefore decided to
                                    step-in and build a service app called Maverick Tailor.
                                    <br>
                                    <br>
                                <p style="color: black;">Maverick Tailor is a tailor-aide Mobile App, designed to enable
                                    fashion designers be
                                    more efficient and productive at work. We strongly believe in simplifying work
                                    processes for every fashion designer. After all, an efficient tailor makes a happy
                                    client!</p>

                                <h5 class="mt-4">The app has the following major functionalities:</h5>
                                <p class="mb-2">1. Record-keeping in a safe and secure data base - capture and save
                                    photo of fabric, client
                                    contact info, measurements,
                                    order details, etc.</p>

                                <p class="mb-2">2. Process invoices and receipts</p>

                                <p class="mb-2">3. Track income and expenses</p>

                                <p class="mb-2">4. Schedule reminders for due dates</p>

                                <p class="mb-2">5. Plan and view tasks in calendar view
                                    Visualization of financial data in charts</p>

                                <p class="mb-2">6. Enhanced correspondence with clients Easy search through data -
                                    client info,
                                    measurements, etc</p>

                                <p class="mb-2">Allows for multiple managers of data
                                    Track status of orders - use of color schemes</p>

                                <p class="mb-2"> Enables sketching of designs
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mid-content">
                    <div class="row row-reverse">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-area"> <img
                                src="img/maverick_chopboard.png" alt="Chopboard" /> </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-area">
                            <div class="section_heading">
                                <div class="number">02</div>
                                <h4>The <span>Chopboard</span></h4>
                                <div class="separator left-align ">
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="description">
                                <p class="mb-2">The Chop Board is a online food store that allows individuals to place
                                    orders, make
                                    payments and track deliveries online. Secondly, this E-store platform is built on an
                                    easyto-use Content Management System (CMS) to allow management of food business to
                                    effectively manage and track business business operations.</p>
                                <h5 class="mt-4">Features of The Chopboard</h5>
                                <p class="mb-2">1. A graphically-pleasing store front that readily presents relevant
                                    offers, promotions and products</p>

                                <p class="mb-2">2. A create account/log in feature offering a personalized shopping
                                    experience for each customer. </p>

                                <p class="mb-2">3. The E-Store allows store management/vendors to create as many
                                    attributes for food products as need - food category, meal type, cake flavor, etc
                                </p>

                                <p class="mb-2">4. The E-store allows for comparison of products side-by-side to
                                    eliminate
                                    "guesswork" of customers and facilitating their search; hence, cutting down on the
                                    time spent to purchase items, at the same time, increasing the odds of adding a
                                    selected product to the cart.

                                <p class="mb-2">5. Inventory management, which allows vendors/store management to track
                                    which
                                    products/items/services are the most patronized. This will help guide
                                    decision-making processes for business operations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mid-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-area"> <img
                                src="img/maverick_campride.jpg" alt="Campride" /> </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-area">
                            <div class="section_heading">
                                <div class="number">03</div>
                                <h4>KNUST <span>Campride</span></h4>
                                <div class="separator left-align ">
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="description">
                                <p>Partnering with AlloyBlue Ltd, we served as KNUST’s digital traffic consultant, and
                                    executed a detailed review of the often-overlooked problem of transportation woes
                                    for students in particular, and offered solutions to make campus life easier to
                                    navigate.</p>

                                <p class="mt-4">
                                    Having first conducted a needs survey, we collated their concerns and sought to
                                    address these. To make the shuttle system more efficient, an app has been created to
                                    enable students track the real-time location of shuttles within their reach. This
                                    way, they can more accurately predict which bus stop to approach, in order to catch
                                    a ride soon enough. Second, students can request for help to find their way around
                                    campus, and receive directions to their destinations based on the fastest shuttle
                                    route available to them.The app also lets drivers know specific areas where demand
                                    for service is high, so service can be provided promptly. This helps to eliminate
                                    idle trips made round campus, in search of passengers. The result? A cut down on
                                    fuel expenses.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mid-content">
                    <div class="row row-reverse">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-area"> <img src="img/maverick_munch.png"
                                alt="Maverick Munch" /> </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-area">
                            <div class="section_heading">
                                <div class="number">04</div>
                                <h4>Maverick <span>Munch</span></h4>
                                <div class="separator left-align ">
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="description">
                                <p class="mb-2">Maverick Munch is an innovative Food Mobile App, that makes the order
                                    and delivery of food to customers easy. This App is customized for food businesses.
                                </p>

                                <h5>The App has the following features:</h5>

                                <p class="mb-2">1. A create an account/registration profile customers.</p>

                                <p class="mb-2">2. A conversational User Interface (UI) with Artificial Intelligence
                                    (AI).</p>

                                <p class="mb-2">3. The App curates data to automatically update the list with the most
                                    frequently
                                    selected occasions/options appearing first.</p>

                                <p class="mb-2">4. Note/message customization at check-out Real-time tracking of the
                                    status
                                    of orders
                                    and time of delivery.</p>

                                <p class="mb-2">5. Email receipts of orders made and also push notifications of news
                                    updates, discount
                                    offers, marketing messages, promotions, etc.</p>

                                <p class="mb-2">6. Augmented Reality (AR) wish packages
                                    experiences for select orders. Eg. Birthday wishes could be packaged into an
                                    augmented reality experience for celebrants. Corporations can also provide
                                    AR-enabled messages to their employees during corporate events and retreats.</p>

                                <p class="mb-2">7. Customers are able to contact customer care division, rate and review
                                    services
                                    rendered to them, access their order history and share posts of their orders on
                                    social media, all in the app.</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mid-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-area"> <img src="img/maverick_swl.jpg"
                                alt="SWL Learn" /> </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-area">
                            <div class="section_heading">
                                <div class="number">05</div>
                                <h4>SWL <span>Learn</span></h4>
                                <div class="separator left-align ">
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="description">
                                <p>The SWL Learn Educational App is a practical approach to "Rethink Education" in
                                    Ghana. Much more than students merely cramming and passing exams, we believe that
                                    education should inspire the next generation to become useful to society.</p>

                                <p class="mt-4"> The SWL Learn app creates an interactive and dynamic digital learning
                                    experience for
                                    students from Kindergarten to Senior High School. It has lots of curriculm-based
                                    resources in the E-library, presented in a fun and exciting way using Augmented
                                    Reality, which literally brings book to life by mixing reality with imagination.
                                    That's not all, we also decided to make it possible for students to carry their
                                    entire science laboratory along with them by introducing the DEXT science set to the
                                    app, with tutorial videos to guide them along.</p>

                                <p class="mt-4">Additionally, it has a unique feature called
                                    "ProtoCode", which introduces kids to Software Programming in 7 days. This app is
                                    set to revolutionize education in Ghana. It can be found on the google playstore and
                                    also at swllearn.com.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ====== About Details End ====== -->
    </div>
    <!-- ====== Footer Start ====== -->
    <footer>
        <div class="container">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 column">
                        <div class="footer_about_content">
                            <div class="footer_logo"><a href="/" title="Maverick Edifice"><img src="img/logo.png"
                                        alt="Maverick Edifice" /></a> </div>
                            <!-- <p> Collaborate with Maverick Edifice to share your dreams with a trusted
                                partner, who is willing to help you achieve them. we will be thrilled to give you the
                                best experience ever! That's our promise.</p>
                            <p>Do Business With Us
                            </p> -->
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 column">
                        <h5>Useful Links</h5>
                        <div class="navigations">
                            <ul>
                                <li><a href="/careers" title="Careers"> Careers</a></li>
                                <li><a href="/our-team" title="Out Team"> Our Team</a></li>
                                <!-- <li><a href="/" title="Home"> Home</a></li>
                                <li><a href="/blog" title="Blog"> Blog</a></li>
                                <li><a href="/podcast" title="Blog"> Podcast</a></li>
                                <li><a href="/products" title="Products"> Products</a></li>
                                <li><a href="/services" title="Services"> Services</a></li>
                                <li><a href="/contact-us" title="Contact Us"> Contact Us</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 column">
                        <div class="navigations">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 column">
                        <h5>Contact Info</h5>
                        <div class="contact_info">
                            <ul>
                                <li> <i class="flat flaticon-facebook-placeholder-for-locate-places-on-maps"></i>Accra,
                                    Ghana </li>
                                <li> <i class="flat flaticon-phone-receiver"></i>+233 55 968 7893, +233 55 337 1974</li>
                                <li> <i class="flat flaticon-mail-black-envelope-symbol"></i>info@maverickedifice.com
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="newsletter">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Our Newsletter</h4>
                        </div>
                        <div class="col-md-9">
                            <form onsubmit="return subscribe(this)" method="POST">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" id="name" name="name" placeholder="Name" required />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="email" id="email" name="email" placeholder="Email" required />
                                    </div>
                                    <div class="col-md-4">
                                        <button type="Submit">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <script>
                            function subscribe(form) {
                                var formData = { name: form.name.value, email: form.email.value }
                                $.ajax({
                                    url: '/subscribe',
                                    method: 'POST',
                                    data: formData,
                                    success: function (response) {
                                        document.getElementById('name').value = "";
                                        document.getElementById('email').value = "";
                                        var notify = new Audio("sounds/notify.mp3");
                                        notify.play();
                                        iziToast.success({ title: 'Success!', message: response.text, position: 'bottomRight' })
                                    }

                                });
                                return false;
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="copyright col-lg-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> Copyright &copy;
                        <script> document.write(new Date().getFullYear());</script>
                        <span class="separator-pipesign"></span>
                        All Rights Reserved
                        <span class="separator-pipesign"></span>
                        <a href="/">Maverick Edifice</a></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ====== Footer End ====== -->

    <!-- popper js-->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js-->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints js plugin -->
    <script src="js/waypoints.min.js"></script>
    <!-- Counter-up js plugin -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- Lightbox-->
    <script src="js/lightbox.js"></script>
    <!--imageloaded js plugin -->
    <script src="js/imagesloaded.js"></script>
    <!-- isotope js -->
    <script src="js/isotope.min.js"></script>
    <!-- Owl Slider js-->
    <script src="js/owl.carousel.js"></script>
    <script src="js/owl.custom.js"></script>
    <!-- parallax js-->
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script src="js/jquery.localscroll-1.2.7-min.js"></script>
    <!-- Header menu -->
    <script src="js/jquery.smartmenus.min.js"></script>
    <!-- Custome js-->
    <script src="js/custom.js"></script>
    <!-- IZITOAST -->
    <script src="css/izitoast/js/iziToast.min.js"></script>
</body>

</html>