<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Maverick Edifice - Services</title>
    <meta name="Company name" content="Maverick Edifice">
    <meta name="author" content="Developer Majesty">

    <!-- description -->
    <meta name="description" content="Maverick Edifice Official Website">
    <!-- keywords -->
    <meta name="keywords"
        content="Business , Maverick Edifice, Maverick, Technology, Information Technology, IT, Software Development">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="img/favi.png" />
    <!-- Aminate CSS -->
    <link rel="stylesheet" href="css/animate.css" />
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Owl Carousel stylesheet -->
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <!-- Lightbox CSS -->
    <link rel="stylesheet" href="css/lightbox.css" />
    <!-- Skin Green Css -->
    <link rel="stylesheet" href="css/skin-gray.css" />
    <!-- Header CSS -->
    <link rel="stylesheet" href="css/header.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- IZITOAST Libraries -->
    <link rel="stylesheet" href="css/izitoast/css/iziToast.min.css">
    <!-- jquery js-->
    <script src="js/jquery.min.js"></script>
    <!-- REVOLUTION CSS -->
    <link rel="stylesheet" href="css/settings.css" />
    <!-- REVOLUTION JS FILES -->
    <script src="js/revolution/jquery.themepunch.tools.min.js"></script>
    <script src="js/revolution/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="js/revolution/revolution.extension.actions.min.js"></script>
    <script src="js/revolution/revolution.extension.layeranimation.min.js"></script>
    <script src="js/revolution/revolution.extension.parallax.min.js"></script>
    <script src="js/revolution/revolution.extension.slideanims.min.js"></script>
</head>

<body>
    <div class="wraper mb-5">
        <!-- ====== Header Starts ====== -->
        <header class="header">
            <div class="container">

                <nav class="navbar navbar-expand-lg">

                    <!-- Brand -->
                    <h2 class="nav-brand">
                        <a class="navbar-brand" href="/" title="Maverick Edifice"><img width="200px" src="img/logo.png"
                                alt="Maverick Edifice" /></a>
                    </h2>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
                        aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Links -->
                    <div class="main-menu collapse navbar-collapse" id="nav-content">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <% if(blog != "" && podcast != ""){ %>
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Resources</a>
                                <% }%>
                                <ul class="dropdown-menu">
                                    <% if(blog != ""){ %>
                                        <li class="dropdown-item"><a href="/blog" title="Blog">Blog</a></li>
                                   <%  } else { %>
                                        
                                   <% } %>
                                   <% if(podcast != ""){ %>
                                        <li class="dropdown-item"><a href="/podcast" title="Podcast">Podcast</a>
                                    <% } else{ %>

                                    <% } %>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/contact-us">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </header>
        <!-- ====== Header End ====== -->

        <!-- ====== Banner Start ====== -->
        <section id="inner-banner">
            <div class="container">
                <div class="row">
                    <div class="inner-heading">
                        <h2>Our Services</h2>
                        <!-- <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page" title="Our Services">Our Services
                                </li>
                            </ol>
                        </nav> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- ====== Banner End ====== -->

        <!-- ====== Services Start ====== -->
        <section id="services" class="gray-bg pdb-70">
            <div class="container">
                <h3 class="d-none">heading</h3>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row blog-isotope">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-iso-item">
                            <div class="item service-card card_mr_bt">
                                <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                                <div class="service_detail">
                                    <h5><a href="javascript:void(0)" title="Web Development">Web Development </a></h5>
                                    <!-- <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                                        as necessary, making this the first true generator on the Internet. </p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-iso-item">
                            <div class="item service-card card_mr_bt">
                                <div class="service_icon"><i class="flat flaticon-computer-graphic"></i> </div>
                                <div class="service_detail">
                                    <h5><a href="javascript:void(0)" title="Web Designing">Web Designing </a></h5>
                                    <!-- <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                                        as necessary, making this the first true generator on the Internet. </p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-iso-item">
                            <div class="item service-card card_mr_bt">
                                <div class="service_icon"><i class="flat flaticon-web-design"></i> </div>
                                <div class="service_detail">
                                    <h5><a href="javascript:void(0)" title="Mobile Apps">Mobile App Development</a></h5>
                                    <!-- <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                                        as necessary, making this the first true generator on the Internet. </p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-iso-item">
                            <div class="item service-card card_mr_bt">
                                <div class="service_icon"><i class="flat flaticon-digital-marketing"></i> </div>
                                <div class="service_detail">
                                    <h5><a href="javascript:void(0)" title="Digital Marketing">Digital Marketing </a>
                                    </h5>
                                    <!-- <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                                        as necessary, making this the first true generator on the Internet. </p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-iso-item">
                            <div class="item service-card card_mr_bt">
                                <div class="service_icon"><i class="flat flaticon-working-team"></i> </div>
                                <div class="service_detail">
                                    <h5><a href="javascript:void(0)" title="IT Training">IT Training </a></h5>
                                    <!-- <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                                        as necessary, making this the first true generator on the Internet. </p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-iso-item">
                            <div class="item service-card card_mr_bt">
                                <div class="service_icon"><i class="flat flaticon-working-team"></i></div>
                                <div class="service_detail">
                                    <h5><a href="javascript:void(0)" title="Business Intelligence">Business Intelligence
                                        </a></h5>
                                    <!-- <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                                        as necessary, making this the first true generator on the Internet. </p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-iso-item">
                            <div class="item service-card card_mr_bt">
                                <div class="service_icon"><i class="flat flaticon-working-team"></i> </div>
                                <div class="service_detail">
                                    <h5><a href="javascript:void(0)" title="Business Coahcing">Business Coaching </a>
                                    </h5>
                                    <!-- <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                                        as necessary, making this the first true generator on the Internet. </p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ====== Services End ====== -->
    </div>

    <!-- ====== Footer Start ====== -->
    <footer>
        <div class="container">
            <div class="copyright col-lg-12">
                <div class="row text-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> Copyright &copy;
                        <script> document.write(new Date().getFullYear());</script>
                        <span class="separator-pipesign"></span>
                        All Rights Reserved
                        <span class="separator-pipesign"></span>
                        <a href="/">Maverick Edifice</a>
                        <span class="separator-pipesign"></span>
                        <a href="/careers" title="Careers"> Careers</a>
                        <span class="separator-pipesign"></span>
                        <a href="/our-team" title="Out Team"> Our Team</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ====== Footer End ====== -->

    <!-- popper js-->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js-->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints js plugin -->
    <script src="js/waypoints.min.js"></script>
    <!-- Counter-up js plugin -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- Lightbox-->
    <script src="js/lightbox.js"></script>
    <!--imageloaded js plugin -->
    <script src="js/imagesloaded.js"></script>
    <!-- isotope js -->
    <script src="js/isotope.min.js"></script>
    <!-- Owl Slider js-->
    <script src="js/owl.carousel.js"></script>
    <script src="js/owl.custom.js"></script>
    <!-- parallax js-->
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script src="js/jquery.localscroll-1.2.7-min.js"></script>
    <!-- Header menu -->
    <script src="js/jquery.smartmenus.min.js"></script>
    <!-- Custome js-->
    <script src="js/custom.js"></script>
    <!-- IZITOAST -->
    <script src="css/izitoast/js/iziToast.min.js"></script>
</body>

</html>